<a href="https://colab.research.google.com/github/DesiPilla/DSPS_dPilla/blob/master/HW3/Z_testlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [0]:
mu = 0.14
popStdev = 0.38
p = 0.05

In [0]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [4]:
rain.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'WESD', 'WESF'], dtype='object')

In [5]:
data = rain[['DATE', 'PRCP']]
data.head()

         DATE  PRCP
0  2010-01-01  0.28
1  2010-01-02  0.00
2  2010-01-03  0.00
3  2010-01-04  0.00
4  2010-01-05  0.00

In [6]:
data['DATE'] = pd.to_datetime(data['DATE'])
data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        DATE  PRCP
0 2010-01-01  0.28
1 2010-01-02  0.00
2 2010-01-03  0.00
3 2010-01-04  0.00
4 2010-01-05  0.00

In [7]:
data = data[data['DATE'] > pd.to_datetime('2018/01/01')]
data.describe()

             PRCP
count  615.000000
mean     0.162504
std      0.365007
min      0.000000
25%      0.000000
50%      0.000000
75%      0.120000
max      2.450000

In [8]:
sampleMean = data['PRCP'].mean()
N = len(data['PRCP'])
sampleStdev = popStdev / N**0.5
Z = (sampleMean - mu) / sampleStdev
print('This distribution had a sample mean that was\033[1m', round(Z, 2), \
      'standard deviations\033[0m \nabove the mean. Because this is is within', \
      'our confidence level of 2\u03C3, \nwe \033[1mcannot\033[0m say that the time', \
      'period from 2018/01/01 to today has a \nstatistically significant', 
      'different amount of rain.')

This distribution had a sample mean that was 1.47 standard deviations
above the mean. Because this is is within our confidence level of 2Ïƒ,
we cannot say that the time period from 2018/01/01 to today has a
statistically significant different amount of rain.